body {
  font-family: 'Assistant', sans-serif;
  color: #000B29;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000B29;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #000B29 !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #000B29;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #606BF5;
  color: #ffffff;
}

header {
  padding: 180px 0 165px;
  background-image: url("../img/hero-gunung.jpg");
  background-size: cover;
  margin-top: -70px;
}

header h1,
header p {
  color: #ffffff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #FD9200;
  color: #ffffff;
}

header .btn-get-started:hover {
  background-color: #FFB34C;
  color: #ffffff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #ffffff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: regular;
}

.section-popular {
  min-height: 580px;
  background-color: #000B29;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 28px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #FD9200;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #FFB34C;
  color: #ffffff;
}

.section-partners {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-partners h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-partners p {
  font-size: 18px;
}

.section-partners img {
  max-width: 100%;
}

.section-adventurers-heading {
  width: 1366px;
  height: 462px;
  background-color: #ffffff;
  padding-top: 50px;
  min-height: 506px;
}

.section-adventurers-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #000B29;
}

.section-adventurers-heading p {
  font-size: 18px;
}

.section-adventurers-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-adventurers-content .card-adventurers {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-adventurers-content .card-adventurers .adventurers-content {
  min-height: 300px;
}

.section-adventurers-content .card-adventurers h3 {
  font-size: 22px;
}

.section-adventurers-content .card-adventurers .adventurers {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
}

.section-adventurers-content .card-adventurers .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-adventurers-content .card-adventurers hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-adventurers-content .btn-get-started {
  background-color: #FD9200;
  color: #ffffff;
}

.section-adventurers-content .btn-get-started:hover {
  background-color: #FFB34C;
}

.section-adventurers-content .btn-need-help {
  background-color: #ffffff;
  color: #000B29;
}

.section-adventurers-content .btn-need-help:hover {
  background-color: #BECAFF;
}

.section-footer h5 {
  color: #000B29;
  font-weight: bold;
}

.section-footer a {
  color: #000B29;
}

.section-details-header {
  min-height: 310px;
  background-color: #e4e6e8;
  margin-top: -70px;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #000B29;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 300px;
  font-size: 11px;
  color: #000B29;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #000B29;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-informations .text-blue {
  color: #000B29;
  font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
  color: #FD9200;
  font-weight: bold;
}

.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #000B29;
  margin-bottom: 0px;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0px;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-top: -4px;
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #000B29;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 600;
  font-size: 14px;
  color: #000B29;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #000B29;
  color: #ffffff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #606BF5;
  color: #ffffff;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #000B29;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
  width: auto;
}

.section-details-content .features .features-img {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}

.gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.gallery .xzoom-container .xactive {
  border: 4px solid #000B29;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.member-image {
  width: 40px;
  height: 40px;
}

.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #FD9200;
  color: #ffffff;
  border-radius: 0;
}

.btn-join-now:hover {
  background-color: #FFB34C;
  color: #fff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #000B29;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #000B29;
  color: #ffffff;
}

.section-success .btn-home-page:hover {
  background-color: #606BF5;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */